/* @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=chevron_right,keyboard_control_key&display=block'); /* icoontjes voor uit- en inklappen van groepen */
html {
  font-size: 14px;  /* basisgrootte voor font - is 1rem */
}
body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
